<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="github:organization-name" value="elefanteletrado" />
    <add key="github:repository-name" value="Portal" />
    <add key="github:username" value="" />
    <add key="github:password" value="" />
    <add key="storage:basepath" value="C:\elefante\issues" />
    <add key="storage:filename" value="elefante-issues.xls" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>